<div ng-controller="AlbumCtrl">
    <div class="row">
        <div class="col-lg-12">
            Search For Albums <input type="text" ng-model="search.name">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4" ng-repeat="album in albums | filter:search:strict">
            <div class="thumbnail scroll">
                <img src="{{album.cover}}" alt="{{album.albumName}}">
                <div class="caption">
                    <strong>{{album.artist}}</strong><br>
                    <a href="#" ng-click="genre_clicked(album.genre)"><strong>{{album.genre}}</strong></a><br/>
                    <em>{{album.name}}</em>
                    <br/>
                    <ol>
                        <li ng-repeat="track in album.tracks">{{track.title}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>