<div ng-controller="listController">
    <div class="row">
        Artist <input type="text" ng-model="search.artist">
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4" ng-repeat="artist in artists | filter:search:strict">
            <div class="thumbnail">
                <img ng-src="{{artist.artistPic}}" alt="{{artist.artist}}" data-src="{{artist.artistPic}}">
                <div class="caption">
                    <strong>{{artist.artist}}</strong><br>
                    <em>{{artist.genre}}</em>
                    <p class="text-muted">{{artist.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
