<div ng-controller="TrackCtrl">
    <div class="row">
        <div class="col-lg-12">
            Search For Tracks <input type="text" ng-model="search.name">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li ng-repeat="track in tracks | filter:search:strict"><h4 class="text-primary">{{track.name}}</h4> By <strong>{{track.artist}}</strong> on <em>{{track.album}}</em></li>
            </ul>
        </div>
    </div>
</div>