<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JukeRox</title>

    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700|Homemade+Apple' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>

</head>
<body ng-app="jukeroxApp" ng-controller="mainCtrl">
<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand primary-color-text" href="index.html">JukeRox</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in links"><a href="#" ng-click="template.url=link.url">{{link.label}}</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>

    <!-- Currently Playing Song information will appear here -->
    <div class="jumbotron">
        <div id="trackInfo">
            <div class="row">
                <div class="col-lg-2">
                    <h2>Now Playing: </h2>
                </div>
                <div class="col-lg-2">
                    <img class="album-art" src="" alt=""/>
                </div>
                <div class="col-lg-8">
                    <h3 class="album-title text-primary"></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <h4 class="timeLeft"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4">
                <button class="btn btn-primary">
                <span class="glyphicon glyphicon-step-backward"  id="back"></span>
                </button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-danger">
                <span  class="glyphicon glyphicon-stop" id="stop"></span>
                </button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-primary">
                <span class="glyphicon glyphicon-play" id="play"></span>
                </button>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-primary">
                <span class="glyphicon glyphicon-step-forward" id="next"></span>
                </button>
            </div>
        </div>

        <audio  id="myAudio">
            <source  src="sounds/ohOne.mp3"  type="audio/mp3">
        </audio>
    </div>
    <div class="container">
        <div class="row" ng-include="template.url"></div>
    </div>
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/play.js"></script>

</body>
</html>